.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body{
   /* background: hsl(217, 19%, 24%);*/
   background: rgb(32, 38, 50);
   font-family:Manrope, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   ;
  
} 
.wrapper{
    
    background: hsl(217, 19%, 24%);
   /*background:rgb(49, 58, 73);*/
}
#advice-id{
    color:hsl(150, 100%, 66%);
}
#advice-text{
    color:hsl(193, 38%, 86%);
}
.desktop {
  display: none;
}
.dice {
  position: relative;
  z-index: 3;
  cursor: pointer;
  background-color: hsl(150, 100%, 66%);
}
.dice:hover {
  background-color: hsl(162, 100%, 66%);
  box-shadow: 0 0 5px hsl(160, 80%, 66%),
              0 0 20px hsl(160, 80%, 66%),
              0 0 50px hsl(160, 80%, 66%),
              0 0 150px hsl(160, 80%, 66%);
}
.dice-cont{
    position: relative;
    z-index: 3;
    
}
@media screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
